
    <!--Footer-->
    <footer class="page-footer stylish-color mt-0 pt-0 text-center text-md-left">

        <!--Footer Links-->
        <div class="container">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-md-12 py-4">

                    <div class="footer-socials mb-5 flex-center">

                        <!--Facebook-->
                        <a class="fb-ic" href="https://facebook.com/priyanka.valecha.148">
                            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic" href="https://twitter.com/PValechha">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
                        </a-->
                        <!--Google +-->
                        <a class="gplus-ic" href="https://plus.google.com/+priyankavalechha?rel=author">
                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="li-ic" href="https://www.linkedin.com/in/priyanka-valechha-57107a141">
                            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="https://www.instagram.com/priyanka_valechha/">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
                        </a>
                        <!--Pinterest--
                        <a class="pin-ic">
                            <i class="fa fa-pinterest fa-lg white-text fa-lg"> </i>
                        </a-->
                    </div>
                </div>
                <!--/First column-->
            </div>
            <!--/First row-->
        </div>
        <!--/Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright text-center py-3">
            <div class="container-fluid">
                © 2018 Copyright: <a href="" > miniBlogging.me </a>
            </div>
        </div>
        <!--/Copyright-->

    </footer>
    <!--/Footer-->
    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{{ site.url }}/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ site.url }}/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ site.url }}/js/mdb.min.js"></script>

    <script type="text/javascript">
        /* WOW.js init */
        new WOW().init();
    </script>

    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    </script>
    <script>
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("../../../mdb-addons/mdb-lightbox-ui.html");
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118904954-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118904954-1');
    </script>


<div class="hiddendiv common"></div></body></html>
